extends layout

block content
  form.custom.documents
    fieldset
      .row
        .large-9.columns
            dl.sub-nav.active_menu
              dd.active
                a(href='#') All
              dd
                a(href='#') Custom
              dd
                a(href='#') Recent
              dd
                a(href='#') Filter
          .large-3.columns.filter_keyword
            .right
              .row.collapse
                .small-10.large-10.columns
                  input(type='text', value='filter').filter
                .small-2.large-2.columns
                  a.button.medium.search.filter(href='#')
                    i
      .row.news_feed
        .large-6.columns
          h4 Custom
            i
          article
            h5 Obama, Turkish prime minister discuss how to end civil war in Syria
            div.date Tuesday, December 3, 2012
            div.capco.unclassified UNCLASSIFIED
            img(src='images/obama_turkish.jpg', alt='')
            p The leaders of Turkey and the United States are huddling in Washington on Thursday over how to handle the Syrian civil war, the raging conflict that has left an estimated 80,000 people dead and a few million displaced -- despite more than two years of diplomacy to halt the bloodshed.
            p President Barack Obama and Prime Minister Recep Tayyip Erdogan, meeting in Washington, discussed how to strengthen the Syrian opposition, help the many people displaced by the war, and mobilize the international community to put more pressure on Syrian President Bashar al-Assad and forge a political transition.
            p They spoke as the warfare in Syria raged Thursday. The opposition Local Coordination Committees in Syria said at least 63 people were killed, including 45 in Damascus and its suburbs. "We're going to keep increasing the pressure on the Assad regime, and working with the Syrian opposition," Obama said. "The prime minister has been on the forefront of the international effort to push for a transition to a democratic Syria without Bashar Assad. And Turkey is going to play an important role as we bring representatives of the regime and opposition together in the coming weeks."
            p
              aside
                div
                div
                div 
        .large-6.columns
          .row
            .large-12.columns 
              .row
                .large-6.columns
                   h4 Recent
                     i
                   article
                     h5 Lebanese army storms mosque
                     div.date Monday, June 23, 2013
                     div.capco.unclassified UNCLASSIFIED
                     img(src='images/lebanese_army.jpg', alt='')
                     p Lebanese soldiers stormed a complex holding gunmen loyal to an Islamic cleric
                     p
                       aside
                         div
                         div 
                         div 
                .large-6.columns 
                  h4 Custom
                    i
                  article
                    h5 US denies talks planned with Taliban
                    div.date Monday, June 23, 2013
                    div.capco.unclassified UNCLASSIFIED
                    p The US has not scheduled talks with the Taliban, the State Department has said, after reports that discussions with the Afghan group could begin this week in the Qatari capital, Doha.p "Reports of a meeting scheduled are inaccurate," spokeswoman Jen Psaki told reporters on Wednesday, saying that 
                    p
                      aside
                        div
                        div
                        div 
              .row
                .large-6.columns 
                  h4 Recent
                    i
                  article
                    h5 Ankara mayor's BBC spy claims spark 
                    div.date Monday, December 3, 2013
                    div.capco.unclassified UNCLASSIFIED
                    p Twitter has been the scene of a bizarre Turkish hashtag war between the mayor of Ankara and, well, a lot of other social networkers.
                    p The drama began Sunday when Ibrahim Melih Gokcek, the man who has been mayor of Turkey's capital for more than a decade, accused a reporter from the BBC's Turkish 
                    p
                      aside
                        div
                        div
                        div
                .large-6.columns  
                  h4 Trending
                    i
                  article
                    h5 Militants ambush soldiers in Kashmir
                    div.date Monday, December 3, 2013
                    div.capco.unclassified UNCLASSIFIED
                    p Militants killed eight Indian army soldiers and wounded six others in an ambush in India-administered Kashmir on Monday, authorities said.
                    p The attack came just a day before Indian Prime Minister Manmohan Singh is due to arrive in Kashmir on a two-day visit. He will review the progress of various development
                    p
                      aside
                        div
                        div
                        div
      .row.news_feed
        .large-3.columns
          h4 Custom
            i
          article
            h5 US denies talks planned with Taliban
            div.date Monday, December 3, 2013
            div.capco.unclassified UNCLASSIFIED
            p The US has not scheduled talks with the Taliban, the State Department has said, after reports that discussions with the Afghan group could begin this week in the Qatari capital, Doha.
            p "Reports of a meeting scheduled are inaccurate," spokeswoman Jen Psaki told reporters on Wednesday, saying that Washington had "never confirmed" any specific meeting.
            p
              aside
                div
                div
                div 

        .large-6.columns
          h4 Custom
            i
          article
            h5 Egyptians await Morsi speech amid turmoil 
            div.date Wednesday, June 3, 2013
            div.capco.unclassified UNCLASSIFIED
            p Egyptian President Mohamed Morsi is set to address the nation amid growing calls for him to step down. Fears of a showdown in the streets between Morsi's Islamist supporters and a broad coalition of the opposition parties on Wednesday have led people to stock up on food and buy up fuel supplies.
            p The army and police are preparing to contain any trouble, adding men and barriers around important public buildings. 
            p
              aside
                div
                div
                div 

        .large-3.columns
          h4 Recent
            i
          article
            h5 Egypt's faltering economy
            div.date Monday, June 23, 2013
            div.capco.unclassified UNCLASSIFIED
            img(src='images/egypts_faltering.jpg', alt='')
            p Militants killed eight Indian army soldiers and wounded six others in an ambush in India-administered Kashmir on Monday, authorities said.
            p The attack came just a day before Indian Prime Minister Manmohan Singh is due to arrive in Kashmir on a two-day visit. He will review the progress of various development projects and commission a rail tunnel billed as India's longest -- an entity that is to connect landlocked Kashmir with the rest of India.
            p
              aside
                div
                div
                div 